<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<% if(req.session.usrname == null){ %>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="http://localhost:1337/prop/index">Home</a>
                </li>
                <li>
                    <a href="http://localhost:1337/prop/search">Search</a>
                </li>
                <li>
                    <a href="http://localhost:1337/usr/login">Login</a>
                </li>
            </ul>
        <%} else {%>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="http://localhost:1337/prop/index">Home</a>
                </li>
                <li>
                    <a href="http://localhost:1337/prop/search">Search</a>
                </li>
                <li>
                    <a href="http://localhost:1337/prop/create">Create</a>
                </li>
                <li>
                    <a href="http://localhost:1337/prop/admin">Admin</a>
                </li>
                <li>
                    <a href="http://localhost:1337/usr/logout">Logout</a>
                </li>
                <li class="disabled">
                    Hi, <%=req.session.usrname%>
                </li>
            </ul>
        <% } %>
			<div class="jumbotron">
				<h2>
					Property Rental System
				</h2>
				<p>
					Property Rental Management System is a web-based system to facilitate flatshare and finding roommates.
				</p>
			</div>
			<div class="row">
			
				<div class="col-md-12">
					<h3>
						<%=prop.name%>
					</h3>
					<div class="row">
						<div class="col-md-6">
							<img alt="Property Image Preview" src="<%=prop.imageurl%>" class="img-rounded" width="400px" height="250px"/>
						</div>
						<div class="col-md-6">
							<dl>
								<dt>
									Gross Area: <%=prop.garea%>
								</dt>
								<dd>
									Rent: <%=prop.rent%>
								</dd>
								<dt>
									Bedrooms: <%=prop.bedrooms%>
								</dt>
								<dd>
									Expected Tenants: <%=prop.tenants%>
								</dd>
								<dd>
									Create Date: <%=prop.createdAt%>
								</dd>
								<dt>
									Update Date: <%=prop.updatedAt%>
								</dt>
								
							</dl> 
							<button type="button" class="btn btn-default">
							<% if (req.session.usrname == null) { %>
							<a href="http://localhost:1337/usr/login">Interested</a>
							<% } else { %>
							<a href='/usr/addInterest/<%=prop.id%>'>Interested</a>
							<% } %>
							</button>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
</body>
</html>